Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
pandas>=0.19
itsdangerous==1.1.0
Jinja2==2.10.1
Flask==1.1.1
gunicorn==19.9.0
Pillow==6.2.0
joblib==0.14.1
pip==19.0.3
aniso8601==4.1.0
Click==7.0
Flask-RESTful==0.3.7
MarkupSafe==1.1.0
pytz==2018.9
six==1.12.0